# Laboratorio 3

En este laboratorio nuevamente utilizaremos los datos de COVID-19 disponibilizados por el Ministerio de Ciencias, Tecnología, Conocimiento e Innovación de Chile ([info](https://github.com/MinCiencia/Datos-COVID19/tree/master/output/producto1)).

In [2]:
import pandas as pd

covid = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto1/Covid-19_std.csv")
covid.head()

,Region,Codigo region,Comuna,Codigo comuna,Poblacion,Fecha,Casos confirmados
0,Arica y Parinacota,15,Arica,15101.0,247552.0,2020-03-30,6.0
1,Arica y Parinacota,15,Camarones,15102.0,1233.0,2020-03-30,0.0
2,Arica y Parinacota,15,General Lagos,15202.0,810.0,2020-03-30,0.0
3,Arica y Parinacota,15,Putre,15201.0,2515.0,2020-03-30,0.0
4,Arica y Parinacota,15,Desconocido Arica y Parinacota,NaN,NaN,2020-03-30,NaN

## Ejercicio 1

(1 pto)

¿Cuál es la región que tiene menos registros (filas)?

In [10]:
counts = covid['Region'].value_counts()
min1 = counts.min()
covid['Region'].value_counts().loc[counts == min1]

Arica y Parinacota    275
Name: Region, dtype: int64

__Respuesta:__ La región de Arica y Parinacota

## Ejercicio 2

(2 puntos)

1. Define la serie `casos` tal que:
    * Solo sean los registros de la región Valparaíso.
    * Los _index_ deben ser la _Fecha_ pero en formato `datetime`. Hint: `pd.to_datetime()`
    * Los _values_ deben ser los _Casos confirmados_.
2. Define la serie `casos_not_null` filtrando los calores `NaN` de la serie `casos`.
3. Obtén el mínimo, máximo y suma y promedio de la serie `casos_not_null`.

In [69]:
covid_valpo = covid[covid["Region"]=="Valparaíso"]
indices = pd.to_datetime(covid_valpo["Fecha"], format='%Y-%m-%d').values
values = covid_valpo["Casos confirmados"].values
values
casos = pd.Series(values, index = indices)
casos

2020-03-30       7.0
2020-03-30       0.0
2020-03-30       6.0
2020-03-30       0.0
2020-03-30       0.0
               ...
2020-09-28    7020.0
2020-09-28    2583.0
2020-09-28    6701.0
2020-09-28     141.0
2020-09-28     449.0
Length: 2145, dtype: float64

In [61]:
#No tomar en cuenta esto. 

#covid_valpo = covid[covid["Region"]=="Valparaíso"]
#indices = pd.to_datetime(covid_valpo["Fecha"].value_counts(), format='%Y-%m-%d').index
#indices = pd.to_datetime(covid_valpo["Fecha"].values, format='%Y-%m-%d')
#values = []
#for i in range(0,len(indices)): #Profe tengo la duda si esto puede hacerse sin la necesidad de utilizar el for
#    values.append(covid_valpo.loc[lambda x: x["Fecha"]==indices[i]]["Casos confirmados"].sum()) 
#casos = pd.Series(values, index = indices)
#casos

2020-08-10    26017.0
2020-08-14    27299.0
2020-09-25    37363.0
2020-04-15      299.0
2020-05-25     2336.0
2020-07-13    19461.0
2020-05-29     2874.0
2020-04-17      345.0
2020-08-07    25046.0
2020-09-18    36084.0
2020-08-17    28131.0
2020-03-30       81.0
2020-04-20      390.0
2020-06-12     6252.0
2020-07-10    18452.0
2020-04-10      220.0
2020-04-03      142.0
2020-08-24    29820.0
2020-05-08      853.0
2020-05-01      588.0
2020-06-28    14272.0
2020-07-24    21367.0
2020-05-11      998.0
2020-06-23    12118.0
2020-04-24      455.0
2020-04-13      273.0
2020-09-11    34447.0
2020-07-31    22671.0
2020-08-03    23326.0
2020-05-15     1344.0
2020-07-05    16860.0
2020-05-04      646.0
2020-07-27    21965.0
2020-08-28    30800.0
2020-08-31    31637.0
2020-09-04    32749.0
2020-06-19    10551.0
2020-06-01     3392.0
2020-05-22     2054.0
2020-09-07    33539.0
2020-04-27      481.0
2020-07-20    19397.0
2020-07-17    20189.0
2020-09-21    36559.0
2020-06-05     4317.0
2020-05-18     1586.0
2020-09-28    38088.0
2020-06-15     7107.0
2020-04-06      162.0
2020-07-01    15184.0
2020-04-01      111.0
2020-06-08     5215.0
2020-04-08      199.0
2020-09-14    35256.0
2020-08-21    29093.0
dtype: float64

In [73]:
casos_not_null = casos.loc[lambda x: x.notnull()]
casos_not_null

2020-03-30       7.0
2020-03-30       0.0
2020-03-30       6.0
2020-03-30       0.0
2020-03-30       0.0
               ...
2020-09-28    7020.0
2020-09-28    2583.0
2020-09-28    6701.0
2020-09-28     141.0
2020-09-28     449.0
Length: 2118, dtype: float64

In [77]:
casos_min = casos_not_null.min()
casos_max = casos_not_null.max()
casos_sum = casos_not_null.sum()
casos_mean = casos_not_null.mean()

In [78]:
print(f"Mínimo casos: {casos_min}")
print(f"Máximo casos: {casos_max}")
print(f"Suma de casos: {casos_sum}")
print(f"Promedio de casos: {casos_mean}")

Mínimo casos: 0.0
Máximo casos: 7020.0
Suma de casos: 790461.0
Promedio de casos: 373.2110481586402

## Ejercicio 3

* Define el dataframe  `covid_full` uniendo (`merge`) los dataframes `covid_total` y `covid_death` utilizando la _Fecha_ como _key_ y de tal forma de unir solo los registros que se encuentren en ambos conjuntos de datos. Hint: Escoger sabiamente entre _left_, _right_, _inner_ u _outer join_.
* Filtra el dataframe `covid_full` tal que:
    - Fechas con por lo menos 1000 casos totales.
    - Fechas con por lo menos 100 casos nuevos con síntomas.
    - Fechas con más de 20 muertes en el grupo etárea `70-79`.

¿Cuál es la fecha máxima y mínima? ¿Cuántos registros quedan finalmente?

In [79]:
covid_total = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto5/TotalesNacionales_T.csv", usecols=range(3))
covid_total.head()

        Fecha  Casos nuevos con sintomas  Casos totales
0  2020-03-02                        1.0            1.0
1  2020-03-03                        0.0            1.0
2  2020-03-04                        2.0            3.0
3  2020-03-05                        1.0            4.0
4  2020-03-06                        1.0            5.0

In [80]:
covid_death = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto10/FallecidosEtario_T.csv").rename(columns={"Grupo de edad": "Fecha"})
covid_death.head()

        Fecha  <=39  40-49  50-59  60-69  70-79  80-89  >=90
0  2020-04-09     2      1      1      9     21     19     4
1  2020-04-10     2      2      2     10     22     21     6
2  2020-04-11     3      2      2     12     24     24     6
3  2020-04-12     3      2      3     12     28     25     7
4  2020-04-13     3      2      3     12     29     26     7

In [82]:
covid_full = covid_total.merge(covid_death, how="inner", on="Fecha")
covid_full.head()

,Fecha,Casos nuevos con sintomas,Casos totales,<=39,40-49,50-59,60-69,70-79,80-89,>=90
0,2020-04-09,426.0,5972.0,2,1,1,9,21,19,4
1,2020-04-10,529.0,6501.0,2,2,2,10,22,21,6
2,2020-04-11,426.0,6927.0,3,2,2,12,24,24,6
3,2020-04-12,286.0,7213.0,3,2,3,12,28,25,7
4,2020-04-13,312.0,7525.0,3,2,3,12,29,26,7

In [88]:
mask1 = covid_full["Casos totales"] >= 1000
mask2 = covid_full["Casos nuevos con sintomas"] >= 100
mask3 = covid_full["70-79"] > 20
covid_full_filtered = covid_full[(mask1) & (mask2) & (mask3)]
covid_full_filtered

,Fecha,Casos nuevos con sintomas,Casos totales,<=39,40-49,50-59,60-69,70-79,80-89,>=90
0,2020-04-09,426.0,5972.0,2,1,1,9,21,19,4
1,2020-04-10,529.0,6501.0,2,2,2,10,22,21,6
2,2020-04-11,426.0,6927.0,3,2,2,12,24,24,6
3,2020-04-12,286.0,7213.0,3,2,3,12,28,25,7
4,2020-04-13,312.0,7525.0,3,2,3,12,29,26,7
...,...,...,...,...,...,...,...,...,...,...
172,2020-09-28,1112.0,459671.0,281,430,1283,2687,3606,3241,1170
173,2020-09-29,1036.0,461300.0,281,431,1286,2695,3609,3248,1175
174,2020-09-30,1185.0,462991.0,281,432,1287,2699,3613,3250,1179
175,2020-10-01,1198.0,464750.0,284,435,1296,2710,3645,3264,1188
176,2020-10-02,1208.0,466590.0,287,437,1300,2717,3655,3277,1194

In [104]:
casmin = covid_full_filtered["Fecha"].values.min()
casmax = covid_full_filtered["Fecha"].values.max()
numcas = len(covid_full_filtered["Fecha"].values)

print(f"Fecha mínima: {casmin}")
print(f"Fecha máxima: {casmax}")
print(f"Cantidad de registros finalmente: {numcas}")

Fecha mínima: 2020-04-09
Fecha máxima: 2020-10-02
Cantidad de registros finalmente: 177

In [102]:
covid_full_filtered["Fecha"].values.min()
covid_full_filtered["Fecha"].values.max()
len(covid_full_filtered["Fecha"].values)

177